*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}


.container{
    width: 100%;
    margin: 0 auto;
}

/* header */
.main-header{
    position: fixed;
    top: 20px;
    right:10px;
    /* width: 100%; */
    height: 70px;
    z-index: 100; 
    text-align: right;
}
.main-header li{
    float:left;
    list-style: none;
}



.main-header.debug{
    border: 2px solid orange;
}


/*main*/
.box{
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}

.box-content {
    /*centratura dell'immagine*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#scarpa-1{
    background-color: red;
    /* background-image: url("../img/01.png"); */

}
#scarpa-2{
    background-color: green;

}
#scarpa-3{
    background-color: yellow;

}

.testo{ /*formattazione testo sotto img*/
    width: 70%;
    text-align: center;
    font-size: 60px;
    margin: 0px auto;
    padding-bottom: 50px;
    font-weight: bolder;
}
/*colori del testo separati*/
.verde{
    color: green;
}

.giallo{
    color: yellow;
}



/* debug*/

.box.debug{
    border: 2px solid black;
}

img{
    /* height: 533px; */
    /* width: 800px; */
    /* background-color: black; */
    border: 1px solid black;
}


.box-content.debug{
    /*test largehzza testo sotto img*/
    /* width: min-content;  essendo width di .testo
     settata al 70% questa regola non si rende più necessaria*/
}




.testo.debug{
    border: 1px solid purple;
    /* height: 100px; */
    
    /* color: yellow; */
}
