*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin: 0 auto;
}


.box{
    width: 100%;
    height: 100vh;
}

/* debug*/

.box.debug{
    background-color: red;
    border: 2px solid black;
}