*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin: 0 auto;
}


.box{
    width: 100%;
    height: 100vh;
}

#scarpa-1{
    background-color: red;

}
#scarpa-2{
    background-color: green;
    
}
#scarpa-3{
    background-color: yellow;
    
}
/* debug*/

.box.debug{
    border: 2px solid black;
}

